body {
    width: auto;
    height: auto;
    background-color: green;
}

.container {
    background-color: red;
    width:100%;
    display: flex;
    flex-direction: row;
}

.card {
    background-color: yellow;
    margin: auto;
    width: 16%;
    height: 20rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
}

.card > div {
    display: flex;
    justify-content: center;
}